services:
    web:
        build: .
        ports:
            - "8000:8000"
        env_file:
            - .env
        environment:
            SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_DATABASE_URL}
            SMTP_LOCAL_DEBUG: ${SMTP_LOCAL_DEBUG}
            SMTP_HOST: ${SMTP_HOST}
            SMTP_PORT: ${SMTP_PORT}
            SMTP_USER: ${SMTP_USER}
            SMTP_PASSWORD: ${SMTP_PASSWORD}
            SMTP_FROM_EMAIL: ${SMTP_FROM_EMAIL}
            SMTP_FROM_NAME: ${SMTP_FROM_NAME}
            FRONTEND_URL: ${FRONTEND_URL}
            CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
            CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
            CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
        volumes:
            - ./:/app
        working_dir: /app
        depends_on:
            - db
        # Run with reloader for development
        command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

    db:
        image: postgres:18.0-alpine3.22
        environment:
            POSTGRES_USER: "${POSTGRES_USER}"
            POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
            POSTGRES_DB: "${POSTGRES_DB}"
        ports:
            - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

    dev-smtp:
        image: axllent/mailpit
        ports:
            - "1025:${SMTP_PORT}" # SMTP
            - "8025:8025" # Web UI
        environment:
            SMTP_USER: ${SMTP_USER}
            SMTP_PASSWORD: ${SMTP_PASSWORD}
            SMTP_FROM_EMAIL: ${SMTP_FROM_EMAIL}
            SMTP_FROM_NAME: ${SMTP_FROM_NAME}
            FRONTEND_URL: ${FRONTEND_URL}

volumes:
    db_data:
