services:
    web:
        build: .
        ports:
            - "8000:8000"
        env_file:
            - .env
        environment:
            SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_DATABASE_URL}
        volumes:
            - ./:/app
        working_dir: /app
        depends_on:
            - db

    db:
        image: postgres:18.0-alpine3.22
        environment:
            POSTGRES_USER: "${POSTGRES_USER}"
            POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
            POSTGRES_DB: "${POSTGRES_DB}"
        ports:
            - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
